<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title></title>
		<%= stylesheet_link_tag 'less', 'typography', 'dateinput', 'main' %>
    <%= javascript_include_tag 'jquery.min.js', 'jquery.tools.min.js' %>
	</head>
	<body>
		<%= yield %>
	</body>

</html>

